@font-face{
  font-family: charter;
  src: url('../fonts/charter-regular.otf');
  font-style: normal ;
  font-weight: 400;
}
@font-face{
  font-family: charter;
  src: url('../fonts/charter-italic.otf');
  font-style: italic ;
  font-weight: 400;
}
@font-face{
  font-family: charter;
  src: url('../fonts/charter-bold.otf');
  font-style: normal ;
  font-weight: 700;
}
@font-face{
  font-family: charter;
  src: url('../fonts/charter-bold-italic.otf');
  font-style: italic ;
  font-weight: 700;
}
:root {
  font-size: 18px;
  --gray30:#212121;
  --gray20:#212429;
  --gray10:#616161;

  --gray40:#424242;
}

html {
  scroll-behavior: smooth; /* transición suave al navegar */
}

body {
  color: var(--gray30);
  font-family: 'Roboto', sans-serif;
  margin: 0;
  /* font-family: charter; */
}

a {
  color: var(--gray30);
}

header{
  font-size: 14px;
  width: 188px;
  color: var(--gray10);
  position: absolute;  /*top, left, right, bottom, z-index: ; */
  top: 64px;
  left: -232px;
  z-index: 1;
}

header a {
  color: var(--gray10);
  text-decoration: none;
}

header a:hover {
  color: var(--gray);
}

/* summary::webkit-details-marker{
  display: none;
} */

nav details summary {
  color: var(--gray10);
  font-weight: bold;
  line-height: ; /* 24px */
}

header li{
  margin-bottom: 16px;
}

h1{
  font-size: 60px;
  /* font-size: 3.75em; */
  margin-top: 64px; /* top right bottom left */
  margin-bottom: 16px;
  font-weight: normal;
  /* border: 10px solid red;
  width: 400px;
  height: 400px;
  padding: 40px;
  box-sizing: border-box; */
}

/* h1 + p {
  background-color: #fec62e;
  margin-bottom: 64px;
} */

hr {
  margin: 64px 0;
}

h2 {
  font-size: 2em; /* 16* 2 = 32px */
  margin: 64px 0 40px;
  font-weight: normal;
}

h3 {
  font-size: 1.5em; /* 24px */
  margin-top: 16px;
  margin-bottom: 24px;
  font-weight: normal;
  position: relative; /* sticky */
  /* top: 0; */
  background: white;
}

pre {
  background: #FEC62E;
  padding: 40px;
  font-family: 'Roboto';
  line-height: 24px;
}

blockquote {
  font-size: 24px;
  margin: 32px 0;
  padding-left: 16px;
  line-height: 24px;
  border-left: 4px solid var(--gray30);
}

blockquote span {
  color: var(--gray10);
}
blockquote span::before {
  content: '-';
}

.header {
  position: sticky;
  top: 0;

}
.header-content {
  position: relative;
}

.main {
  /* background-image: linear-gradient(to top, rgba(255, 255, 255, .3), transparent), url('../images/pattern.png'); */
}
.wrapper{
  width: 902px;
  margin: auto;
}
.main-content{
  background: white;
}
.hero {
  background: linear-gradient(to top, rgba(255, 255, 255, .3),transparent ), url('../images/pattern.svg');
  /*background-repeat: no-repeat;
  background-position:center;
  background-size: cover; */
  height: 350px;
}

.section-content {
  margin-top: 164px;
  position: relative;
}

.section-content:first-of-type {
  margin: 0;
}

/* .section-content:nth-of-type(3) h3{
  margin-top: 40px;
  margin-bottom: 16px;
}
.section-content:nth-of-type(2) h3{
  margin-top: 40px;
  margin-bottom: 24px;
} */


.section-content ol li {
  line-height: 24px; /* alto de linea */
}
.section-content ul li {
  margin-bottom: 16px;
}
.section-content + hr{
  display: none; /* se oculta el hr */
}
.section-content img{
  margin-top: 40px;
}
/* counters */
.section-content {
  counter-reset: titleList;
}

.section-content h3 {
  counter-increment: titleList;
  padding-bottom: 8px;

}
.section-content h3::before {
  content: counter(titleList, decimal)'. '; /* titleList es un nombre de la variable, puede ser cualquier nombre */
}
.section-content h3::after {
  content: '';
  width: 80px;
  height: 4px;
  background: var(--gray30);
  display: inline-block;
  position: absolute;
  left: 0;
  bottom: 0;
}